body {
    background-color: #32add6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contenitore {
	text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    
    padding:40px 50px;
    
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
    margin: 100px 0;
}
p {
	margin-top:20px;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff581c;
    margin-top: 0px;
    width: inherit;
    height: 100px;
    text-align: center;
    border-radius: 10px;
}

.botton {
    display: flex;
    justify-content: space-around;
    align-self: center;
    background-color: #ff581c;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    color: black;
    margin-top: 10px;
    width: 120px;
}

img {
    max-width: 30%;

    align-self: center;
}

a:hover {
    background-color: #e23f04;
}